{% extends "texte/texte_base.html" %}
{% block contenu %}
<p>Merci d'avoir signalé cette erreur ! </p>
<p>
  L'esprit apaisé, vous pouvez désormais <a
  href="{{page.get_absolute_url}}"">reprendre votre lecture...</a>
</p> 

{% endblock %}
