{% extends "texte/texte_base.html" %}
{% block content_class %}class="bugform"{% endblock %}

{% block contenu %}
<form action="" method="post" id="bugform" >{% csrf_token %}
  <fieldset>
  <legend>Rapport d'erreur</legend>
  {% include "helpers/large_form.html" %}
  <input type="submit" value="Envoyer le rapport d'erreur" class="button" />
  </fieldset>
</form>
<hr id="texte"/>
{{page.texte|safe|capfirst}}
{% endblock %}

{% block avant_footer %}
{# On ne veut pas des commentaires dans la page d'ajoute de commentaires #}
{% endblock %}
