{% load static %}
  <div class="abo email" style="display: none;">
    <p>Recevoir un email à chaque nouvelle parution d'un texte en ligne</p>
    <form action="{% url "email-sub-process" %}"  method="post">{% csrf_token %}
        <table>
    {% for field in email_form %}
      {% if field.name == 'email' %}
      <tr class="email"><td colspan="2">{{ field }}</td></tr>
      {% else %}
      <tr><td>{{ field }}</td><td>{{ field.label_tag }}</td></tr>
      {% endif %}
    {% endfor %}
    <tr><td colspan="2"><input type="submit" value="Je m'abonne"/></td></tr>
  </table>
  </form>
  </div>
  <div class="abo rss" style="display: none;">
    <p>Suivre les nouveautés par flux RSS</p>
    <form action="{% url "rss-sub-process" %}">
  <table>
    {% for field in rss_form %}
      <tr><td>{{ field }}</td><td>{{ field.label_tag }}</td></tr>
    {% endfor %}
    <tr><td colspan="2" ><input type="submit" value="Je m'abonne"/></td></tr>
  </table>
  </form>
</div>
