{% extends "base.html" %}
{% load lvtags %}

{% block contenu %}
<h2>Les sites amis</h2>
Ici les sites des auteurs mais aussi tout simplement des sites qu'on aime bien...
{% if object_list %}
    {% for lien in object_list %}
        <h3><a href="{{lien.url}}">{{lien.nom}}</a></h3>
        <p>
	  {{lien.description}}
	</p>
	      
    {% endfor %}
{% else %}
    <p>Aucun texte pour l'instant.</p>
{% endif %}
{% endblock %}
