{% extends "texte/texte_base.html" %}
{% load lvtags %}
{% load tagging_tags %}
{% block content_class %}{% endblock %}

{% block ajout_com_props  %} {% endblock  %}
{% block no_page %}{{ page.no }}/{% endblock %}

{% block contenu %}
<div class="page">
{% block titre %}
{% endblock %}
<h2> {{ object.titre|capfirst}}</h2>

  {% ifequal page.no  1 %}{% if object.illustration %}
    <div class="illustration" style="text-align:center;float:left; margin-bottom: 1em;margin-left:2em">
      <a href="{{object.illustration.fichier|thumbnail:"700x500"}}" rel="lightbox" title="{{ object.illustration.legende }}">
	<img id="preview" src="{{object.illustration.fichier|thumbnail:"430x430"}}" style="border: 0.3em solid black"/>
      </a>
      {% if object.illustration.auteur  %}
        <p class="legende-illustration">
        {% if object.illustration.auteur.url %}
	Illustration : 
	<a class="link" href="{{ object.illustration.auteur.url }}">
	  {{ object.illustration.auteur }}
	</a>
	{% else %}
	{{ object.illustration.legende }}
	{% endif %}
	</p>
      {% endif %}
    </div>
<div class="cl"></div>
  {% endif %}{% endifequal %}

{{page.texte|safe|capfirst}}
  <p class="tournepage" id="tpgauche">
    {% if page.page_precedente %}
      <a href="../{{ page.no|add:"-1" }}">Page précédente</a>
    {% else %}
      &nbsp;
    {% endif %}
  </p>
<div class="cl"></div>
  {% if not object.is_unipage  %}
  <form action="#" id ="nopage">
    page
    <select name="aller_page" onchange="aller_a(this)">
    {% for i in page.html_repr.page_set.all %}
        {% ifequal i.no page.no %}
            <option value="../{{i.no}}/" selected="selected">{{i.no}}</option>    
        {% else %}
            <option value="../{{i.no}}/">{{i.no}}</option>
        {% endifequal %}
    {% endfor %}
    </select>
    / {{page.html_repr.page_set.count}}
  </form>


  <p class="tournepage" id="tpdroite">
{% if page.page_suivante %}
    <a href="../{{ page.no|add:1 }}/">Page suivante</a>
{% else %}
    &nbsp;
{% endif %}
  </p>
{% endif %}
</div>
      {% tags_for_object object  as liste_tags %}
       {% if liste_tags %}
            <p id="liste_tags">tags : 
                {% for tag in liste_tags %}
		    <a href="/tag/{{ tag }}/" >{{ tag.name|capfirst}}</a>{% if not forloop.last %}, {% endif %} 
		{% endfor %}
            </p>
<p></p>
       {% endif %} 

<div class="cl"> &nbsp; </div>


   <p id="liens_acces">
<a href="#add_com" onclick="$('add_com').removeClassName('hidden')">Ajouter un commentaire</a>
   {% block rapport_erreur %}
     <a href="/textes/{{object.slug}}/signaler-erreur/" >
          Signaler une erreur
       </a>
     {% endblock %}
          <a href="/textes/{{object.slug}}/telecharger/">
              PDF imprimable
          </a>

   </p>


{% endblock %}

{% block amis %}
{% endblock %}
