<form action="/textes/{{object.slug}}/raporter_erreur/" method="post">{% csrf_token %}
    {% if message_erreur %}<p><strong>{{ message_erreur }}</strong></p>{% endif %}
    <label for="form_pseudo">Nom : </label>
    <input type="text" name="pseudo" value="{{pseudo}}" id="form_pseudo"/>
    <br />

    <label for="form_sujet">Objet :</label>
    <input type="text" name="titre" value="{{titre}}" id="form_sujet"/>
    <br />

    <label for="form_texte"> : </label>
    <br />
    <textarea name="texte"  id="form_texte">{{contexte}}</textarea>

    <br />
    <input type="submit" value="Envoyer" />

</form>
