{% extends "base.html" %}
{% load lvtags %}

{% block contenu %}
<h2>Accès par tag</h2>
{%nuage_tags_texte%}


<h2>Tous les textes (par date de publication)</h2>

{% if object_list %}
<div id="sonoeuvre">
    {% regroup object_list by pub_date.year as texte_annees %}
    {% for annee in texte_annees %}
    <h4>{{annee.grouper}}</h4>
    <table class="grouped-textlist">
      {% for texte in annee.list %}
        {% if texte.est_compile %}
        <tr class="{% cycle ligne1 ligne2 %}">
        <td>
            <a href="/textes/{{texte.slug}}">{{texte.titre}}</a>
        </td>

        <td>{{texte.auteur.profile}}</td>
    </tr>
    {% endif %}
    {% endfor %}
    </table>
    {% endfor %}

</div>



{% else %}
    <p>Aucun texte pour l'instant.</p>
{% endif %}


{% endblock %}
