{% extends "base.html" %}
{% load lvtags %}
{% load tagging_tags %}


{% block titre %}
<h2> {{ object.titre|capfirst}}</h2>
{% endblock %}

{% block extra_sidebar %}

<div class="sousbar" id="fiche_texte">
<h3>Le texte...</h3>
   <div class="liste_tete" id="fond_texte">&nbsp;</div>
   <dl class="fiche">
       <dt>Publié le</dt> <dd>{{object.pub_date|date:"j/n/Y"}}</dd>
       {% if object.genre %}
            <dt>Genre</dt><dd>{{object.genre}}</dd>
       {% endif %}
      <dt>Licence</dt>
      <dd>
          <a class="img" href="{{object.licence.url}}">
              <img class="licence"
                   src="{{object.licence.image.url}}"
                   alt="{{object.licence.nom}}"/>
          </a>
      </dd>
   </dl>
</div>

{% for htmltex in  object.htmltex.all %}
  {% if htmltex.multipart %}
    <div class="sousbar">
      <h3>Sommaire</h3>
      <div class="liste_tete" id="fond_sommaire">&nbsp;</div>
      <ol id="sommaire">
        {% for section in htmltex.section_set.all %}
	  <li><a href="/textes/{{object.slug}}/lire/{{ section.page_debut }}/">{{ section.titre|capfirst}}</a></li>
	{% endfor %}
      </ol>
    </div>
{% endif %}
{% endfor %}


<div class="sousbar" id="fiche_auteur">
<h3>L'auteure...</h3>
   <div class="liste_tete" id="fond_auteur">&nbsp;</div>
    <h4>{{object.auteur|affiche_nom}}</h4>
<div class="cl"> &nbsp; </div>
        {% if object.auteur.profile.photo %} 
            <a href="{{object.auteur.profile.photo|thumbnail:"700x500"}}" rel="lightbox">
	      <img src="{{object.auteur.profile.photo|thumbnail:"100x135"}}"
		   alt="Photo de l'auteur" class="portrait" />
	    </a>
        {% endif %}


        {% if object.auteur.profile.complement %}
            <p class="complement">
	      {{object.auteur.profile.complement|truncatewords:"16"}}
	      <a class="suite" href="/auteur/{{object.auteur.username}}">[suite]</a>
	    </p>
        {% endif %}

    <ul>
    {% if object.auteur.profile.url_don %} 
        <li>
            <a href="{{object.auteur.profile.url_don}}">Faire un
            don à {{object.auteur.first_name|capfirst}}
            </a>
        </li>
    {% endif %}
    {% if object.auteur.profile.aut_email and  object.auteur.email%}
        <li>
	  <span>
             {{object.auteur.email|antispam}}
	  </span>
       </li>
    {% endif %}
      <li><a href="/auteur/{{object.auteur.username}}">Plus d'infos {{object.auteur.first_name|capfirst}}</a></li>
   </ul>
</div>

<div class="sousbar" id="meme_auteur">
  <h3>...a aussi écrit :</h3>
  <ul>
    {% for texte in object.auteur.profile.ses_textes|samples:4 %}
    <li><a href="{{ texte.get_absolute_url }}" >{{ texte.titre }}</a></li>
    {% endfor %}
  </ul>
    <p class="plus"><a href="/auteur/{{object.auteur.username}}#sonoeuvre">tous ses textes</a></p>
</div>

{% endblock %}

{% block avant_footer %}


<div class="cl"> &nbsp; </div> 
<div id="comlist">
   <p id="combut">
     {% block ajouter_commentaire %}
     <strong>Commentaires</strong> 
     <form id="add_com" method="post" action="/textes/{{ object.slug }}/commenter/{% block no_page %}{% endblock %}#add_com" {% if not form.is_bound %}class="hidden"{% endif %}>
         {% csrf_token %}
	     <fieldset>
	  <legend>Nouveau Commentaire</legend>
	{% include "helpers/large_form.html" %}
	</fieldset>
	<input type="submit" value="Envoyer">
      </form>
     {% if not object.commentaire_set.count %}
	  Aucun pour le moment.
	 {% endif %}
     {% endblock %}
   </p>
    {% for commentaire in object.commentaire_set.all %}
      <div class="commentaire  {% cycle 'odd' 'even' %}">
		<span class="credits {% cycle 'odd' 'even' %}">
	      <strong>{{commentaire.auteur}} dit :<br /></strong>
		</span>
	    <p>
		{{commentaire.texte|linebreaksbr}}
		</p>
		<span class="date">le {{commentaire.pub_date|date:"d M Y" }}</span>
		{% if user.is_authenticated %}
    	    <br />{{commentaire.email|default:"Pas d'email renseigné"}}
		{% endif %}
      </div>
    {% endfor %}
</div>

{% endblock %}
