/*
 * CodePress color styles for (La)Tex syntax highlighting
 * Written by Jocelyn Delalande
 * Inspired by emacs latex-mode behavior.
 */


/* Command keyword */
s {color:#a020f0}
/* Command arg */
u {color: #0000ff}
/* Bold styles */
em, strong, big {font-weight: bold;color: #00008b }
/* Increased sizes for important sectioning*/
strong {font-size: 1.3em;line-height: 1.3em}
big {font-size: 1.6em;line-height: 1.6em}
/* options */
ins {color: #b8860b }
/* Non-arg commands*/
small {color: #696969 }
/* Some noticable commands */
span {color: red;font-weight: bold}
/* Just bold style */
b{font-weight: bold}
font {color: #556b2f } /*Kaki */
/* Italic */
i {font-style: italic}
/* Métadonnées */
a{color: #228b22} /*Medium green*/
/* Footnotes */
blink{color: #5f9ea0;text-decoration: none}
/* Quotes */
cite {color: #bc8f8f}
