<h1>Parties/sous parties</h1>
  <blockquote>
    \section{Titre de ma section}
  </blockquote>
  
  <p>
    Ceci produira un titre de section numérotée.
    Pour enlever la numérotation, il faut ajoutter une
    étoile <cite>*</cite>.
  </p>
  <blockquote>
    \section*{Titre de ma section}
  </blockquote>

  <p>
    Il est possible de ne pas mettre de titre à une partie :
  </p>
  <blockquote>
    \section{}
  </blockquote>

  <p>
    Il est possible de hiérarchiser les textes à plusieurs
    niveaux. Voici, dans l'ordre hiérarchique les différentes balises (Le
    plus important en premier). Elles s'utilisent de la même manière
    que <cite>\section{}</cite>.
  </p>
  <blockquote>
    \chapter{Mon titre} (disponible seulement dans la classe book)<br />
    \section{Mon titre}<br />
    \subsection{Mon titre}<br />
    \subsubsection{Mon titre}<br />
    \paragraph{Mon titre}<br />
    \subparagraph{Mon titre}<br />
    \subsubparagraph{Mon titre}   <br /> 
  </blockquote>

<h1>Typographie/mise en valeur</h1>
  <h2>Texte en gras</h2>
    <blockquote>
      {\bf ce texte apparaitra en gras}
    </blockquote>
  <h2>Texte en italique</h2>
    <blockquote>
      {\it ce texte apparaitra en italique}
    </blockquote>

<h1>Renvoi de bas de page</h1>
  <p>
    Les notes de bas de page sont définies à l'endroit du renvoi, il
    n'y a pas lieu de spécifier sur quel bas de page la note devra
    apparaître, elle sera placée automatiquement sur la bonne page.
  </p>
  <blockquote>
    Élémentaire mon cher Watson répondit-il
    ironiquement\footnote{Phrase issue de Sherlock Holmes, A. Conan Doyle}.
  </blockquote>
    <p>
      Ce renvoi sera numéroté dans le texte et le contenu du
      <cite>\footnote{}</cite> apparaîtra en bas de page.
    </p>

