<h1>Référence rapide LaTex</h1>
<p>Cette documentation est une référence rapide pour le langage LaTex
dans le cadre de l'application LettraVox. Un certain nombre de
fonctions décrites ci-dessous son accessibles via la barre d'outils de
l'éditeur en ligne.
</p>
<h2>Les principes</h2>
LaTex est un langage <em>balisé</em>...

<h3>Commandes</h3>
<p>Une commande LaTex a la forme suivante :</p>

<pre>
\commande{option1,option2}
</pre>

<p>
  Tout ce qui n'est pas commande sera interpretté « tel quel » comme du
  texte.
</p>

<h3>Environnement</h3>

<p>
  Afin d'éviter de trop longues commandes peu pratiques, il existe les
environements. Leur effet s'applique entre la balise
<code>\begin{nomdelenvironement}</code> et la balise <code>\end{nomdelenvironement}</code>
</p>

<h4>Exemple:</h4>
<pre>
  \balise{itemize}
  \item banane
  \item pomme
  \end{itemize}
</pre>

<h2>Parties/sous parties</h1>
  <pre>
    \section{Titre de ma section}
  </pre>
  
  <p>
    Ceci produira un titre de section numérotée.
    Pour enlever la numérotation, il faut ajouter une
    étoile <code>*</codee>.
  </p>
  <pre>
    \section*{Titre de ma section}
  </pre>

  <p>
    Il est possible de ne pas mettre de titre à une partie :
  </p>
  <pre>
    \section{}
  </pre>

  <p>
    Il est possible de hiérarchiser les textes à plusieurs
    niveaux. Voici, dans l'ordre hiérarchique les différentes balises (Le
    plus important en premier). Elles s'utilisent de la même manière
    que <code>\section{}</code>.
  </p>
  <pre>
    \chapter{Mon titre} (disponible seulement dans la classe book)
    \section{Mon titre}
    \subsection{Mon titre}
    \subsubsection{Mon titre}
    \paragraph{Mon titre}
    \subparagraph{Mon titre}
    \subsubparagraph{Mon titre}
  </pre>

<h2>Renvoi de bas de page</h2>
  <p>
    Les notes de bas de page sont définies à l'endroit du renvoi, il
    n'y a pas lieu de spécifier sur quel bas de page la note devra
    apparaître, elle sera placée automatiquement sur la bonne page.
  </p>
  <blockquote>
    Élémentaire mon cher Watson répondit-il
    ironiquement\footnote{Phrase issue de Sherlock Holmes, A. Conan Doyle}.
  </blockquote>
    <p>
      Ce renvoi sera numéroté dans le texte et le contenu du
      <cite>\footnote{}</cite> apparaîtra en bas de page.
    </p>

<h2>Mise en forme des dialogues</h2>

<p>Certains modèles incluent une macro pour les dialogues. Elle s'utilise
comme suit: 
</p>

<pre>
\begin{dialogue}
  \- Bonjour
  \- Oh, salut, ça va ?
  \- au poil !
\end{dialogue}
</pre>


