{% load lvtags %}

<em>Écrit par {{obj.auteur|affiche_nom}} le {{obj.pub_date|date:"j/n/Y"}}</em>

<h3>Resumé</h3>
{{obj.resume}}

<ul>
    <li><a href="{{obj.get_absolute_url}}lire">Lire en ligne</a></li>
    <li><a href="{{obj.get_absolute_url}}telecharger">Télécharger au format pdf imprimable</a></li>
</ul> 