{% extends "base.html" %}
{% load i18n %}

{% block titre %}<h2>{% trans "Confirm Your humanity" %}</h2>{% endblock %}

{% block contenu %}
<style>
.bl label {display: none}
.demi {width: 49%; float: left}
</style>
  <div class="bl">
    <form method="post" action="." class="demi" >{% csrf_token %}
    <h3>{% trans "Prove me you're human :" %}</h3>
      {% for name, value in user_form.items %}
      <input type="hidden" name="{{ name|escape }}" value="{{ value|escape }}" />
      {% endfor %}
      <p>
	{{ form.as_p }}
	<input type="submit" class="button" value="{% trans "Confirm" %}" />
      </p>
      <p>{% trans "Type the letters you see on the left picture into the text box." %}</p>
      </form>
    <div class="demi">
    <h3>{% trans "Why is this page needed?" %}</h3>
    <p>
      {% trans "As many automated scripts spams our website throught comments, we use this captcha system to detect bots. You are only asked on the first comment you post on the website, you then keep considerated as a human for some time." %}
      </p>
    </div>
    </div>
{% endblock %}
