{% extends "base.html" %}

{% block contenu %}
<h2>C'est d'accord !</h2>

Votre demande a bien été prise en compte. Pour confirmer votre inscription,
<strong>un mail vous a été envoyé</strong> avec un lien d'activation, vous avez <em>une
heure</em> pour l'utiliser et confirmer votre inscription.

{% endblock %}