{% extends "base.html" %}
{% load lvtags %}

{% block contenu %}
<h2>Vous êtes abonné-e !</h2>

Vous recevrez des nouvelles d'{% nom_site %} directement à l'adresse
<em>{{ email }}</em>.

{% endblock %}