{% extends "base.html" %}
{% load lvtags %}
{% block contenu %}
<h2>Désinscription</h2>
<p>
Voulez-vous renoncer à recevoir des emails de la part d'{% nom_site %} ?
</p>

<form method="post" action="." class="single-button">{% csrf_token %}
<input type="submit" value="Oui, désinscrire {{ email }}" />
</form>

{% endblock %}
