{% extends "admin/base_site.html" %}

{% load i18n static %}
{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}" />{% endblock %}

{% block extrahead %}
  <link rel="stylesheet" type="text/css" href="{% static "style/admin-home.css" %}" />
{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}





<div id="content-main">

<p>
  Bienvenue du côté plume, vous pouvez publier un texte dès à présent en
  cliquant sur « Ajouter » dans la catégorie « Texte » .
</p>

{% if perms.texte %}
<div class="module"><h2>Publication de textes</h2><table>
    {% if perms.texte.add_texte or perms.texte.change_texte %}
    <tr>
        <th>{% if perms.texte.change_texte %}<a href="texte/texte/">{% endif %}Textes{% if perms.texte.change_texte %}</a>{% endif %}</th>
        <td class="x50">{% if perms.texte.add_texte %}<a href="texte/texte/add/" class="addlink">{% endif %}{% trans 'Add' %}{% if perms.texte.add_texte %}</a>{% endif %}</td>
        <td class="x75">{% if perms.texte.change_texte %}<a href="texte/texte/" class="changelink">{% endif %}{% trans 'Change' %}{% if perms.texte.change_texte %}</a>{% endif %}</td>
    </tr>
    {% endif %}
 {% if perms.texte.add_modele or perms.texte.change_modele %}
    <tr>
        <th>{% if perms.texte.change_modele %}<a href="texte/modele/">{% endif %}Modeles{% if perms.texte.change_modele %}</a>{% endif %}</th>
        <td class="x50">{% if perms.texte.add_modele %}<a href="texte/modele/add/" class="addlink">{% endif %}{% trans 'Add' %}{% if perms.texte.add_modele %}</a>{% endif %}</td>
        <td class="x75">{% if perms.texte.change_modele %}<a href="texte/modele/" class="changelink">{% endif %}{% trans 'Change' %}{% if perms.texte.change_modele %}</a>{% endif %}</td>
    </tr>
    {% endif %}
</table></div>
{% endif %}


<div class="module"><h2>Modération</h2>
  <table>
    {% if perms.texte.add_commentaire or perms.texte.change_commentaire %}
    <tr>
        <th>{% if perms.texte.change_commentaire %}<a href="texte/commentaire/">{% endif %}Commentaires{% if perms.texte.change_commentaire %}</a>{% endif %}</th>
        <td class="x50">{% if perms.texte.add_commentaire %}<a href="texte/commentaire/add/" class="addlink">{% endif %}{% trans 'Add' %}{% if perms.texte.add_commentaire %}</a>{% endif %}</td>
        <td class="x75">{% if perms.texte.change_commentaire %}<a href="texte/commentaire/" class="changelink">{% endif %}{% trans 'Change' %}{% if perms.texte.change_commentaire %}</a>{% endif %}</td>
    </tr>
    {% endif %}
    {% if perms.bugreport.add_rapporterreur or perms.bugreport.change_rapporterreur %}
    <tr>
        <th>{% if perms.bugreport.change_rapporterreur %}<a href="bugreport/rapporterreur/">{% endif %}Rapport erreurs{% if perms.bugreport.change_rapporterreur %}</a>{% endif %}</th>
        <td class="x50">{% if perms.bugreport.add_rapporterreur %}<a href="bugreport/rapporterreur/add/" class="addlink">{% endif %}{% trans 'Add' %}{% if perms.bugreport.add_rapporterreur %}</a>{% endif %}</td>
        <td class="x75">{% if perms.bugreport.change_rapporterreur %}<a href="bugreport/rapporterreur/" class="changelink">{% endif %}{% trans 'Change' %}{% if perms.bugreport.change_rapporterreur %}</a>{% endif %}</td>
    </tr>
    {% endif %}
  </table>
</div>

{% if perms.texte %}
<div class="module"><h2>Métadonnées des textes</h2><table>
    {% if perms.texte.add_licence or perms.texte.change_licence %}
    <tr>
        <th>{% if perms.texte.change_licence %}<a href="texte/licence/">{% endif %}Licences{% if perms.texte.change_licence %}</a>{% endif %}</th>
        <td class="x50">{% if perms.texte.add_licence %}<a href="texte/licence/add/" class="addlink">{% endif %}{% trans 'Add' %}{% if perms.texte.add_licence %}</a>{% endif %}</td>
        <td class="x75">{% if perms.texte.change_licence %}<a href="texte/licence/" class="changelink">{% endif %}{% trans 'Change' %}{% if perms.texte.change_licence %}</a>{% endif %}</td>
    </tr>
    {% endif %}
    {% if perms.texte.add_genre or perms.texte.change_genre %}
    <tr>
        <th>{% if perms.texte.change_genre %}<a href="texte/genre/">{% endif %}Genres{% if perms.texte.change_genre %}</a>{% endif %}</th>
        <td class="x50">{% if perms.texte.add_genre %}<a href="texte/genre/add/" class="addlink">{% endif %}{% trans 'Add' %}{% if perms.texte.add_genre %}</a>{% endif %}</td>
        <td class="x75">{% if perms.texte.change_genre %}<a href="texte/genre/" class="changelink">{% endif %}{% trans 'Change' %}{% if perms.texte.change_genre %}</a>{% endif %}</td>
    </tr>
    {% endif %}
   {% if perms.texte.add_categoriereferenceexterne or perms.texte.change_categoriereferenceexterne %}
    <tr>
        <th>{% if perms.texte.change_categoriereferenceexterne %}<a href="texte/categoriereferenceexterne/">{% endif %}Categorie reference externes{% if perms.texte.change_categoriereferenceexterne %}</a>{% endif %}</th>
        <td class="x50">{% if perms.texte.add_categoriereferenceexterne %}<a href="texte/categoriereferenceexterne/add/" class="addlink">{% endif %}{% trans 'Add' %}{% if perms.texte.add_categoriereferenceexterne %}</a>{% endif %}</td>
        <td class="x75">{% if perms.texte.change_categoriereferenceexterne %}<a href="texte/categoriereferenceexterne/" class="changelink">{% endif %}{% trans 'Change' %}{% if perms.texte.change_categoriereferenceexterne %}</a>{% endif %}</td>
    </tr>
    {% endif %}
    {% if perms.texte.add_auteurexterne or perms.texte.change_auteurexterne %}
    <tr>
        <th>{% if perms.texte.change_auteurexterne %}<a href="texte/auteurexterne/">{% endif %}Auteurs d'illustrations{% if perms.texte.change_auteurexterne %}</a>{% endif %}</th>
        <td class="x50"></td>
        <td class="x75">{% if perms.texte.change_auteurexterne %}<a href="texte/auteurexterne/" class="changelink">{% endif %}{% trans 'Change' %}{% if perms.texte.change_auteurexterne %}</a>{% endif %}</td>
    </tr>
    {% endif %}

</table></div>
{% endif %}

{% if perms.articles %}
<div class="module"><h2>Articles d'actualité</h2><table>
    {% if perms.articles.add_article or perms.articles.change_article %}
    <tr>
        <th>{% if perms.articles.change_article %}<a href="articles/article/">{% endif %}Articles{% if perms.articles.change_article %}</a>{% endif %}</th>
        <td class="x50">{% if perms.articles.add_article %}<a href="articles/article/add/" class="addlink">{% endif %} Écrire{% if perms.articles.add_article %}</a>{% endif %}</td>
        <td class="x75">{% if perms.articles.change_article %}<a href="articles/article/" class="changelink">{% endif %}{% trans 'Change' %}{% if perms.articles.change_article %}</a>{% endif %}</td>
    </tr>
    {% endif %}
</table></div>
{% endif %}

{% if perms.subscriptions %}
<div class="module"><h2>Abonnements</h2><table>
    {% if perms.subscriptions.add_emailsubscription or perms.subscriptions.change_emailsubscription %}
    <tr>
        <th>{% if perms.subscriptions.change_emailsubscription %}<a href="subscriptions/emailsubscription/">{% endif %}Abonnements{% if perms.subscriptions.change_emailsubscription %}</a>{% endif %}</th>
        <td class="x50">{% if perms.subscriptions.add_emailsubscription %}<a href="subscriptions/emailsubscription/add/" class="addlink">{% endif %} Ajouter{% if perms.subscriptions.add_emailsubscription %}</a>{% endif %}</td>
        <td class="x75">{% if perms.subscriptions.change_emailsubscription %}<a href="subscriptions/emailsubscription/" class="changelink">{% endif %}{% trans 'Change' %}{% if perms.subscriptions.change_emailsubscription %}</a>{% endif %}</td>
    </tr>
    {% endif %}
</table></div>
{% endif %}


<div class="module"><h2>{{user}}</h2>
  <table>
  <tr>
        <th><a href="auth/user/{{user.id}}">Mon profil</a></th>
        <td class="x75"><a href="auth/user/{{user.id}}" class="changelink">{% trans 'Change' %}</a></td>
    </tr>
  <tr>
        <th><a href="auth/user/{{user.id}}/password">Mot de passe</a></th>
        <td class="x75"><a href="auth/user/{{user.id}}/password" class="changelink">{% trans 'Change' %}</a></td>
    </tr>

  </table>
</div>



{% if perms.auth %}
<div class="module"><h2>Administration</h2>
<table>
    {% if perms.auth.add_group or perms.auth.change_group %}
    <tr>
        <th>
            {% if perms.auth.change_group %}
            <a href="auth/group/">
            {% endif %}
                Groupes
            {% if perms.auth.change_group %}
                </a>
            {% endif %}
        </th>
        <td class="x50">
            {% if perms.auth.add_group %}
                <a href="auth/group/add/" class="addlink">
            {% endif %}
            {% trans 'Add' %}
            {% if perms.auth.add_group %}
                </a>
            {% endif %}
            </td>
        <td class="x75">
        {% if perms.auth.change_group %}
            <a href="auth/group/" class="changelink">
        {% endif %}
        {% trans 'Change' %}
        {% if perms.auth.change_group %}
            </a>
        {% endif %}
        </td>
    </tr>
    {% endif %}
    {% if perms.auth.add_user or perms.auth.change_user %}
    <tr>
        <th>{% if perms.auth.change_user %}<a href="auth/user/">{% endif %}{% trans 'User'%}s{% if perms.auth.change_user %}</a>{% endif %}</th>
        <td class="x50">{% if perms.auth.add_user %}<a href="auth/user/add/" class="addlink">{% endif %}{% trans 'Add' %}{% if perms.auth.add_user %}</a>{% endif %}</td>
        <td class="x75">{% if perms.auth.change_user %}<a href="auth/user/" class="changelink">{% endif %}{% trans 'Change' %}{% if perms.auth.change_user %}</a>{% endif %}</td>
    </tr>
    {% endif %}
    {% if perms.texte.add_lien or perms.texte.change_lien %}
    <tr>
        <th>{% if perms.texte.change_lien %}<a href="texte/lien/">{% endif %}Liens (sites amis){% if perms.texte.change_lien %}</a>{% endif %}</th>
        <td class="x50">{% if perms.texte.add_lien %}<a href="texte/lien/add/" class="addlink">{% endif %}{% trans 'Add' %}{% if perms.texte.add_lien %}</a>{% endif %}</td>
        <td class="x75">{% if perms.texte.change_lien %}<a href="texte/lien/" class="changelink">{% endif %}{% trans 'Change' %}{% if perms.texte.change_lien %}</a>{% endif %}</td>
    </tr>
    {% endif %}


</table></div>
{% endif %}





</div>



{% endblock %}

{% block sidebar %}
<div id="content-related">
    <div class="module" id="recent-actions-module">
        <h2>{% trans 'Recent Actions' %}</h2>
        <h3>{% trans 'My Actions' %}</h3>
            {% load log %}
            {% get_admin_log 10 as admin_log for_user user %}
            {% if not admin_log %}
            <p>{% trans 'None available' %}</p>
            {% else %}
            <ul class="actionlist">
            {% for entry in admin_log %}
                <li class="{% if entry.is_addition %}addlink{% endif %}{% if entry.is_change %}changelink{% endif %}{% if entry.is_deletion %}deletelink{% endif %}">{% if not entry.is_deletion %}<a href="{{ entry.get_admin_url }}">{% endif %}{{ entry.object_repr|escape }}{% if not entry.is_deletion %}</a>{% endif %}<br /><span class="mini quiet">{{ entry.content_type.name|capfirst|escape }}</span></li>
            {% endfor %}
            </ul>
            {% endif %}
    </div>
</div>
{% endblock %}
