{% extends "admin/texte/editer_source.html" %}
{% block title %} {{object.titre}} - erreur #{{bug.id}}{% endblock %}

{% block body_title%}
<h1>Correction - {{object.titre}}</h1>
{% endblock %}

{% block pre_textarea %}
<h2>Erreur {{bug.id}}, rapportée par {{bug.nom_rapporteur}} (<a href="mailto:{{bug.email_rapporteur}}">{{bug.email_rapporteur}}</a>)</h2>

<div class="bug_text">
  <h3>Libellé</h3>
  <p>{{bug.libelle}}</p>
</div>

<div class="bug_citation">
  <h3>Dans l'extrait</h3>
  <p>{{bug.extrait|linebreaksbr}}</p>
</div>

<div class="cl"> </div>

{% endblock %}
