{% load lvtags %}

{% if highlighted %}
  <p class="ribbon"><a href="{{ highlighted.get_absolute_url  }}">
	  {% autoescape off %}
	  {{ highlighted.accroche }}
	  {% endautoescape %}
  </a></p>
{% endif %}
