{% load lvtags %}

<div id="vitrine" class="clearfix">
  <a rel="prev" href="javascript:"><div id="left-slider" style="display: none">&nbsp;</div></a>
	{% for article in derniers_articles %}
  <div class="article {% if forloop.counter > 2 %} hidden {% endif %}
{#			  {% if forloop.counter == 1 %} bordered {% endif %} #}
			  ">
	<a href="{{ article.get_absolute_url }}">
	<h2>{{ article.titre }}</h2>

	<img class="mini"
	src="{{ article.mini_illustration|thumbnail:"100x80"}}" />	
	<div class="date">{{ article.pub_date|date:"j" }}<div>{{ article.pub_date|date:"b" }}</div></div>
	<p>{{ article.chapeau }} </p> 
</a>
  </div>
  
	{% endfor %}
  <a href="/actu/" rel="next"><div id="right-slider">&nbsp;</div></a>

</div>

