{% load static %}
{# FIXME: shameless <body> squatting. #}
<style>
.markdownx {
  display: flex;
  align-items: center;
}
.markdownx .edit {
  width: 30%;
}
.markdownx .preview {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.markdownx-preview {
  border: 2px dashed grey;
  transform: scale(0.8);
  transform-origin: top left;
  width: 118.75%; /* (100 - 2.5*2) / 0.8 */
  padding: 2.5%;
  flex: 1;
  padding-bottom: 1em;
}

/* Spécial django admin

complément de article-helpers.css */

form .aligned .article p,
form .aligned .article ul {
    margin-left: initial;
}
</style>
<link rel="stylesheet" href="{% static '3rdparty/font-awesome/css/font-awesome.min.css' %}" />
<link rel="stylesheet" href="{% static 'style/article-helpers.css' %}" />

<div class="markdownx">
    <div class="edit">
        {{ markdownx_editor }}
        <div class="note">
            <h4><i class="fa fa-question-circle"></i> Alignement des images</h4>
            <dl>
                <dt>
                    <i class="fa fa-picture-o" aria-hidden="true"></i>
                    <i class="fa fa-align-justify" aria-hidden="true"></i>
                    flottant à gauche (par défaut)
                </dt>
                <dd>
                    <code>&lt;span class="float-left"&gt;...image...&lt;span&gt;</code>
                </dd>
                <dt>
                    <i class="fa fa-align-justify" aria-hidden="true"></i>
                    <i class="fa fa-picture-o" aria-hidden="true"></i>
                    flottant à droite
                </dt>
                <dd>
                    <code>&lt;span class="float-right"&gt;...image...&lt;span&gt;</code>
                </dd>
                <dt>
                   &nbsp;&nbsp;<i class="fa fa-picture-o" aria-hidden="true"></i>&nbsp;&nbsp;centré
                </dt>
                <dd>
                    <code>&lt;span class="center"&gt;…image…&lt;span&gt;</code>
                </dd>
                <dt>
                    <i class="fa fa-picture-o" aria-hidden="true"></i>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    gauche, sans habillage
                </dt>
                <dd>
                    <code>&lt;span class="left"&gt;...image...&lt;span&gt;</code>
                </dd>
                <dt>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <i class="fa fa-picture-o" aria-hidden="true"></i>
                    droite, sans habillage
                </dt>
                <dd>
                    <code>&lt;span class="right"&gt;...image...&lt;span&gt;</code>
                </dd>

            </dl>
            <h4>
                <i class="fa fa-question-circle"></i> Syntaxe markdown
            </h4>
                 <div>
                     → <a href="https://github.com/SambaEdu/se3-docs/blob/master/dev-clients-linux/memo-markdown.md">Mémo syntaxe</a><br />
                     → Glisser-déposer dans les texte pour insérer des images
                 </div>
        </div>
    </div>
    <div class="preview article corps">
        <p class="help">La prévisualisation est à échelle 80%, et ne reflète pas exactement la mise en page finale</p>
        <div class="markdownx-preview"></div>
    </div>
</div>
