{% extends "base.html" %}
{% load lvtags %}

{% block titre %}

	<div class="date full">{{ object.pub_date|date:"j" }}
	  <div>{{ object.pub_date|date:"b" }}<br /><span>{{ object.pub_date|date:"Y" }}</span></div>
	</div>

<h2 class="titreart" style="clear: none">{{ object.titre }}</h2>
{% endblock %}

{% block contenu %}
{% if object.categorie == "P" and object.concerne %}
<p><em>

{% if object.is_collective %}

Sont publiées dans cet ouvrage :
  {% for auteur in object.concerne.all %}
    {% if not forloop.first %},{% endif %}
    <a href="/auteur/{{auteur.username}}">{{ auteur|affiche_nom }}</a>
  {% endfor %}

{% else %}


  {% with object.concerne.all|first as auteur%}
Auteure:
    {% if auteur %}
        <a href="/auteur/{{auteur.username}}">{{ auteur|affiche_nom }}</a>
    {% else %}
inconnu
    {% endif %}
  {% endwith %}

{% endif %}
<em></p>
{% endif %}


<div class="article corps">
{% autoescape off %}
{{ object.texte }}
{% endautoescape %}
</div>

{% endblock %}
