{% extends "base.html" %}

{% load lvtags static %}
{% load subscription_tags %}

{% block titre %}
<h2>{% firstof categorie "Actualités…" %}</h2>
<div class="abo-links side-buttons">
  <a class="email" title="Recevoir les nouveautés par email" href="#">
    <img src="{% static 'icones/128x128/emblems/emblem-mail.png' %}"
         alt="Recevoir les nouveautés par email" />
  </a>
  <a class="rss" title="Suivre les nouveautés par flux RSS" href="#">
    <img src="{% static 'icones/128x128/emblems/RSS.png' %}"
         alt="Suivre les nouveautés par flux RSS" />
  </a>
{% abo_forms pre_checked="paperbacks+events" %}
</div>
{% endblock %}

{% block contenu %}
{% if object_list %}
    {% for article in object_list %}
<div class="resumart clearfix">
	<a href="{{ article.get_absolute_url }}">

	<div class="date full">{{ article.pub_date|date:"j" }}
	  <div>{{ article.pub_date|date:"b" }}<br /><span>{{ article.pub_date|date:"Y" }}</span></div>
	</div>

    <h3>{{ article.titre }}</h3>
	<img class="mini"
	src="{{ article.mini_illustration|thumbnail:"100x80"}}" />

	<p>{{ article.chapeau }}</p>
	<div class="cl">&nbsp;</div>
	<p class="plus">Lire la suite{% if article.categorie == "P" %}/Acheter{% endif %}…</p>
</a>
</div>
    {% endfor %}

{% else %}
    <p>Aucun texte pour l'instant.</p>
{% endif %}


{% autoescape off %}
{{ object.texte }}
{% endautoescape %}

{% endblock %}
