{% extends "admin/change_form.html" %}
{% load admin_modify %}

{% block form_top %}



{% if change %}
    {% if original.fichier_source %}
      {% if original.est_compile %}
        <ul class="messagelist">
	  <li>Le texte est compilé, il peut être consulté par les visiteurs.</li>
	</ul>
      {% else %}
        <p class="errornote" >
	  Il est nécessaire de compiler le texte pour qu'il soit consultable.
	</p>
      {% endif %}
    {% else %}
	<p class="error" >
          Vous devez maintenant ajouter le contenu du texte en envoyant un ficher .tex
	  ou en utilisant l'éditeur en ligne.
	</p>
    {% endif %}

        <ul>
	  {% if  original.fichier_source %}
            <li><strong><a href="{% url 'compiler' id=original.id %}">Compiler</a></strong></li>
	  {% endif %}
         <li><strong><a href="{% url 'source_edit' id=original.id %}">Éditer le texte en ligne</a></strong></li>
        </ul>
{% endif %}

{% endblock %}
