{%load lvtags%}

<div id="derniers_textes" >
<h3 id="derniers_titre">Derniers textes publiés </h3>
{% if liste_textes %}
    {% for texte in liste_textes %}
        <div class="apercu_texte">
	  <a href="{{texte.get_absolute_url}}">
	  <h4>{{ texte.titre|capfirst}}</h4>
	  {% if texte.illustration %}
 	  <img src="{{texte.illustration.square|thumbnail:"70x70"}}" /> 
	  {% endif %}
	  </a>
	  <p>{{texte.resume}}</p>
	  <p class="credit">{{texte.genre}} par <a href="/auteur/{{texte.auteur.username}}">{{texte.auteur|affiche_nom}}</a>, le {{ texte.pub_date|date:"d F"}}</p>
	</div>
    {% endfor %}

<div class="plus" ><a href="/textes/">(tous les textes)</a></div>
{% else %}
    <p>Aucun texte pour l'instant.</p>
{% endif %}

</div>
