{%load lvtags%}

{% if liste_textes %}
    <ul>
    {% for texte in liste_textes %}
            <li>
	      <a href="{{texte.get_absolute_url}}">{{ texte.titre|capfirst}}</a>
	      par <a href="/auteur/{{texte.auteur.username}}">{{texte.auteur|affiche_nom}}</a>
	    </li>
    {% endfor %}
    </ul>
{% else %}
    <p>Aucun texte pour l'instant.</p>
{% endif %}
