{% load lvtags %}

<ul>
{% for site in site_amis %}
    <li>
        <a href="{{site.url}}" class="lien_ext" title="{{site.description}}">
            {{site.nom}}
        </a>
   </li>
{% endfor %}
</ul>
