{% extends "admin/base_site.html" %}
{% load static %}
{% load lvtags %}

{% block title %}Éditeur en ligne : {{object.titre}}{% endblock %}

{% block extrahead %}
  <link rel="stylesheet" type="text/css" href="{% static "style/admin-editeur.css" %}" />
 <script src="{% static "js/editbar.js" %}" type="text/javascript"></script>
  <script src="{% static "codepress/codepress.js" %}"  type="text/javascript">
    function save() {}
  </script>
  <script type='text/javascript'>
    function save_text() {
        document.getElementById("realcode").innerHTML = cparea.getCode();
	document.getElementById("editeur").submit();
    }

    function save_and_compile_text() {
        document.getElementById("realcode").innerHTML = cparea.getCode();
	document.getElementById("and_compile").value = "true";
	document.getElementById("editeur").submit();
    }
  </script>

{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
     <a href="../../../../">Accueil</a> &rsaquo;
     <a href="../../">Textes</a> &rsaquo;
     {{object.titre}}
</div>
{% endblock %}



{% block content %}
{% block body_title%}
<h1>Édition en ligne de {{object.titre}}</h1>
{% endblock %}

{% block pre_textarea %}
   <ul>
     <li><a href="../"><strong>Retour à la page du texte</strong></a></li>

  </ul>

{% endblock %}

  {% if save_attempt %}
	{% if saved %}
            <ul class="messagelist"><li>Texte sauvegardé à {% now "H:i" %}.</li></ul>
            <p>
	      Il est nécessaire de re-compiler le texte après une modification de celui-ci.
	    </p>
        {% else %}
	    <ul class="errorlist"><li>Échec durant la sauvegarde du texte.</li></u>
        {% endif %}
  {% endif %}

  {% block text_intro %}
  {% endblock %}

<div id="content-main">
  {% if not object.get_source %}
     <h3>Fichier vierge</h3>
         <p>
	   Votre fichier source est vierge, peut-être voulez vous
	   utiliser un des modèles ci-dessous : 
	 </p>
         {% liste_modeles %}
  {% endif %}

    <form id="editeur" action="." method="post">{% csrf_token %}
      <fieldset>
	<legend>
	  {{object.source_base}}
	</legend>
	<div class="submit-row">
	  <input type="" value="Enregistrer" onclick='save_text()' /> 
	  <input type="" action="#" value="Enregistrer et compiler" onclick='save_and_compile_text()' />
	  <input type="" action="#" value="Éditeur On/Off" onclick='cparea.toggleEditor()' /> 
	</div>
<div id='toolbar'>
  <script type='text/javascript'>
    /*<![CDATA[*/

       addButton('{% static "buttons/chap.png" %}','Chapitre','\\chapter{','}','','mw-editbutton-chap');
       addButton('{% static "buttons/sec.png" %}','Section','\\section*{','}','','mw-editbutton-sec');
       addButton('{% static "buttons/subsec.png" %}','Sous-Section','\\subsection*{','}','','mw-editbutton-subsec');
       addButton('{% static "buttons/subsubsec.png" %}','Sous-sous section','\\subsubsection*{','}','','mw-editbutton-subsubsec');
       addButton('{% static "buttons/bold.png" %}','Texte gras','\\textbf{','}','Texte gras','mw-editbutton-bold');
       addButton('{% static "buttons/italic.png" %}','Texte italique','\\textit{','}','Texte italique','mw-editbutton-italic');
       addButton('{% static "buttons/dialogue.png" %}','Un dialogue','\\begin{dialogue}\n\\-\n','\\end{dialogue}','','mw-editbutton-dialog');
       addButton('{% static "buttons/note.png" %}','Une note de bas de page numérotée','\\footnote{','}','','mw-editbutton-footnote');
       addButton('{% static "buttons/center.png" %}','bloc de texte centré','\\begin{center}\n','\\end{center}\n','','mw-editbutton-center');
       addButton('{% static "buttons/vspace.png" %}','Un espace vertical','\\vspace{','}','2cm','mw-editbutton-vspace');
       addButton('{% static "buttons/br.png" %}','Un retour à la ligne sans alinéa','\\\\\n','','','mw-editbutton-br');
    /*]]>*/
  </script>
</div>
        {# Ne pas aérer la ligne ci-dessous, sinon : espaces dans le source#}
	<textarea cols="120" rows="40" class="codepress latex linenumbers-off" id="cparea" >{{object.get_source}}</textarea>
	<div class="submit-row">
	  <input type="" value="Enregistrer" onclick='save_text()' /> 
	  <input type="" value="Enregistrer et compiler" onclick='save_and_compile_text()' />
	</div>

	<textarea id="realcode" style="display:none" name="code" rows="10" cols="10"></textarea>
	<input type="hidden" name="modele" id="modele" value="" />
	<input type="hidden" name="and_compile" id="and_compile" value="" />
      </fieldset>
    </form>
   <br />
   <hr />

   <p>
     Éditeur <a href="http://codepress.sf.net">Codepress</a>
     en javascript, sous licence LGPL
   </p>
</div>

  <script type='text/javascript'>
    /*<![CDATA[*/
       mwSetupToolbar() 
    /*]]>*/
  </script>
{% endblock %}
