{% extends "admin/base_site.html" %}

{% block title %}Erreur durant la compilation de {{object.titre}}{% endblock %}

{% block content %}
<h1>Erreur durant la compilation de {{object.titre}}</h1>
<div id="content-main">
    <p>
        Le texte {{object.titre}} n'a pu être compilé, le fichier
        source contient certainement une erreur.
    </p>
    <h3>Sortie du compilateur</h3>
    <p style="font-family: monospace;background: #DDDDDD">
        {{object.log|escape|linebreaksbr}}
    </p>

    <p>
        Corrigez le fichier source <strong>{{object.fichier_source}}</strong> dans <a href="{{ referer }}">l'éditeur en ligne</a>
    </p>

    <h3>Aide</h3>
        <p>Pour un fichier Tex, la ligne où s'est produite l'erreur est
        indiquée de la manière suivante, par exemple, si c'est la
        ligne 7 : « <strong>l.7</strong> »</p>


   <a href="{{ referer }}"><strong>Retourner à la page d'édition du texte {{object}}</strong></a>
</div>
{% endblock %}
