
.colMS { margin:O;}
#content {width: 100%}
#content-main .module {min-width:240px;width:29%;float: left;margin-right:1.3%;} 
#content-main { float:left; width:85%; }

.dashboard #content { width:97.5%; }
#content-related { float: left;width:15%}