.mask {
background: black; opacity: 0.7; position: absolute;/* width: 30px; height: 30px;*/
}

/* The darkened 'loading' mask*/
#loading_mask {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: black;
    opacity: 0.6;
    z-index: 15;
}

#loading_mask div {
    display: block;
    position: fixed;
    top: 50%;
    left: 0%;
    width: 100%;
    text-align: center;
    opacity: 1;
}



#loading_mask p {
    position: fixed;
    top: 60%;
    left: 0%;
    font-size: large;
    color: white;
    opacity: 1;
    width: 100%;
    text-align: center;
}