#editeur fieldset {
   width: 60%;
   min-width: 700px;
   padding: 0.30em;
   background-color:#417690;
   border: 0.3em #417690 outset;
}

#cparea {width:100%}

#editeur legend {
  background:#417690;
  color:#f4f379;
  font-weight: 700;
  font-size: 1.3em;
  padding-right:0.5em;
  padding-left:0.5em;
  border-top: 2px solid #666;
  border-right: 1px solid #666;
  border-left: 1px solid #666;

}

.bug_text, .bug_citation { 
  width: 400px;
  float: left;
  border: 1px solid #999;
  margin: 1em;
  padding: 0.5em;
}

.cl { width: 100%; clear:both; }