
.article.corps img {
  max-width: 100%;
}

.article.corps span.float-left,
.article.corps  p > img { /* Default */
    disply: block;
    float: left;
    margin-right: 1em;
}

.article.corps span.float-right {
  float: right;
  margin-left: 1em;
}

.article.corps span.center {
  display: block;
  text-align: center;
}

.article.corps .center,
.article.corps .left,
.article.corps .right{
    display: block;
}

.article.corps .center {
    text-align: center;
}

.article.corps .left {
    text-align: left;
}

.article.corps .right {
    text-align: right;
}
