#lightbox{
	background-color:black;
	padding: 10px;
	border-bottom: none;
/*	border-bottom: 2px solid #666;
	border-right: 2px solid #666;*/
	}


#lightboxDetails{
    font-size: 0.8em;
    padding-top: 0.4em;
    /*display: none;*/
    font-style: italic;
    font-family: sans-serif;
    color: #777;

}

#lightbox a {border: none}

#lightboxCaption{ float: left;}
#keyboardMsg{ float: right; display:none}
#closeButton{ top: 5px; right: 5px; }

#lightbox img{ border: none; clear: both;} 
#overlay img{ border: none; }

#overlay{ background-image: url(../img/overlay.png); }

* html #overlay{
	background-color: #333;
	back\ground-color: transparent;
	background-image: url(blank.gif);
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../img/overlay.png", sizingMethod="scale");
	}
	

article a img {
	border-bottom: 0;
}