{% extends "base.html" %}
{% load lvtags %}


{% block contenu %}
<h2>Bienvenue sur {% nom_site %}...</h2>

{% derniers_articles %}

<div class="intro">
<p class="first">
Tout commence par une envie d'écrire. On sème quelques mots au gré du  temps, on cultive les phrases au sein d'un monde qui n'appartient qu'à  nous. Puis, un jour, l'envie de partager fleurit. On va vers l'autre,  cet inconnu.
</p>

<p>
Ce site est un jardin, ouvert à l'or de vos regards. Proses trémières, textes hybrides, vers d'une saison, images vivaces et poésie éphémère...
</p>

<p>
Vous pouvez vous y perdre, arpenter ses allées, désherber quelques phrases... Parlez-nous du parfum que vous y avez senti.
Que votre voyage soit agréable !

</p>

</div>

<div id="tags_cadre">
<h3>Mots-clés <div class="plus"><a href="/textes/">(Voir tous les mots-clés)</a></div></h3>
{% nuage_tags_texte "0.5,70" %}
</div>


<div class="cl"></div>
{% blocs_derniers_textes 3 %}


{% endblock %}
