{% extends "base.html" %}

{% block titre %}
<h2> À propos de ce site...</h2>
{% endblock %}

{% block contenu %}
<p>
  Ce site est propulsé par le logiciel LettraVox, un logiciel développé par Jocelyn Delalande. Celui-ci (ré)-utilise des logiciels et standards libres :
</p>
<ul>
  <li><a href="http://python.org" >Python</a> pour la programmation.</li>
  <li>Le framework web <a href="http://djangoproject.com">Django</a></li>
  <li><a href="http://www.latex-project.org/">LaTeX</a> Pour la mise en forme des textes</li>
  <li>L'éditeur javascript <a href="http://sourceforge.net/projects/codepress">codepress</a></li>
  <li>La bibliothèque javascript <a href="http://www.prototypejs.org">Prototype</a>
  <li>Les standards du web CSS et XHMTL 1.1</li>
  <li>Les icônes de la collection <a href="http://browse.deviantart.com/?qh=&section=&global=1&q=buuf#/dmlqsc">Buuf</a>,
    par <a href="http://mattahan.deviantart.com/">Mattahan</a> (<a href="http://creativecommons.org/licenses/by-nc-sa/3.0/">creative commons by-nc-sa</a>),
  <li>Les icônes <a href="https://fortawesome.github.io">font-awesome</a></li>.

</ul>
<p>Merci à eux !</p>
<p>Le code source est mis à disposition sous licence GPL. Vous pouvez
  librement <a href="http://code.crapouillou.net/jocelyn/lettravox">
    le télécharger, le bidouiller, l'étudier...</a></p>

{% endblock %}
