{% load lvtags static %}
{% load subscription_tags %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <link rel="stylesheet" href="{% static "style/main.css" %}" type="text/css" media="screen" title="présentation standard"/>
    <link rel="stylesheet" href="{% static "style/bubbles.css" %}" type="text/css" media="screen"/>
    <link rel="stylesheet" href="{% static "style/lightbox.css" %}" type="text/css" media="screen"/>
	<meta name="viewport" content="width=device-width, initial-scale=1">
<style>

</style>

    {% block extra_style %}{% endblock %}
    <link rel="alternate" type="application/rss+xml" title="RSS - Derniers textes publiés" href="/syndication/derniers-textes/" />
    <script type="text/javascript" src="{% static "js/popup.js" %}"></script>
    <script type="text/javascript" src="{% static "js/lightbox.js" %}"></script>
    <script type="text/javascript" src="{% static "js/prototype.js" %}"></script>
    <script type="text/javascript" src="{% static "js/lettravox.js" %}"></script>
    {% block extra_js %}{% endblock %}
    <title>{% block title %}{% nom_site %}{% endblock %}</title>

</head>

<body>
  {% ruban_articles %}
  <div id="conteneur">
    <h1><img alt="Hostile au style" src="{% random_banniere %}" /> </h1>
    <ul id="topbar">
      {% block topbar %}
            <li><a href="/">Accueil</a></li>
            <li><a href="/textes/">Textes en ligne</a></li>
            <li><a href="/publications-papier/">Publications papier</a></li>
            <li><a href="/evenements/">Événements</a></li>
	    <li>
            {% if has_multiple_authors %}
                <a href="/auteurs">Les auteurs</a>
            {% else %}
                <a href="{% url "auteur-detail"  slug=authors.first.username %}">À propos de l'auteure</a>
            {% endif %}
        </li>
      {% endblock %}
    </ul>
    <div id="bac">
      <div id="content" {% block content_class %}{% endblock %}>
        {% block titre %}{% endblock %}
        {% block contenu %}{% endblock %}
      </div>

      <div id="sidebar">

     {% block extra_sidebar %}{% endblock %}

      {%  if has_multiple_authors %}
         <div class="sousbar" id="liste_auteurs">
         <h3>Auteurs</h3>
         <div class="liste_tete" id="fond_auteurs">&nbsp;</div>
         {% liste_auteurs %}
         </div>
      {% endif %}

     {% block abo %}
     <div class="abo-links sousbar">
       <h3>Quoi de neuf ?</h3>
       <ul>
         <li>
           <a class="rss" title="S'abonner par flux RSS" href="#">
             <img src="{% static "icones/128x128/emblems/RSS.png" %}"
                  alt="" />
             <span class="a-style">Suivre par RSS</span>
           </a>
         </li>
         <li>
           <a class="email" title="Recevoir les nouveautés par email" href="#">
             <img src="{% static "icones/32x32/emblems/emblem-mail.png" %}"
                  alt="" />
             <span class="a-style">Suivre par email</span>
           </a>
         </li>
         {% all_newsletters as newsletters %}
         {% for newsletter in newsletters %}
         <li>
             <a class="email" title="S'ouvre dans une nouvelle fenêtre"
                href="{{ newsletter.newsletter_url }}" target="_blank">
             <img src="{% static "icones/32x32/emblems/emblem-mail.png" %}"
                  alt="" />
             <span class="a-style">
                 {% firstof newsletter.newsletter_text newsletter.newsletter_url %}
             </span>
           </a>
         </li>
         {% endfor %}
       </ul>
      {% abo_forms pre_checked="paperbacks+events+texts"%}

     </div>
     {% endblock %}

	 {% block amis %}
     <div class="sousbar" id="liste_amis">

       <h3>Sites Amis</h3>
       <div class="liste_tete" id="fond_amis">&nbsp;</div>

       {% liste_site_amis %}
       <p class="plus"><a href="/amis">Plus...</a></p>

     </div>
	 {% endblock %}
      </div>
<div class="cl"></div>
    </div>
	{% block avant_footer %}{% endblock %}

    <p id="footer">Propulsé par <a href="/apropos/">LettraVox</a></p>
  </div>
</body>
</html>
