{% load lvtags %}

<ul>
{% for modele in modeles %}
    <li>
      <a href="javascript:;" onclick='document.getElementById("modele").value="{{modele.id}}";document.getElementById("editeur").submit()'>
	{{modele}}
      </a>
    </li>
{% endfor %}
</ul>
