{%extends "base.html"%}
{% load lvtags static %}
{% load subscription_tags %}

{% block contenu %}

<h2>{{object|affiche_nom}}</h2>

<div id="savie">
<h3></h3>
  <div id="saviedr">
      <a href="{{object.profile.photo|thumbnail:"700x500"}}" rel="lightbox">
	<img class="portrait" src='{{object.profile.photo|thumbnail:"240x240"}}' />
      </a>
  </div>
  <div id="saviega" >
	<div class="cl"></div>
	{% if object.profile.complement %}
	    <p class="complement">{{object.profile.complement|linebreaksbr}}</p>
  	{% endif %}
  </div>
</div>

<div class="infocontact">
    {% if object.profile.aut_email %}
  <p>
  <img src="{% static "icones/32x32/emblems/emblem-mail.png" %}" alt="Contact mail:" />

  {{object.email|antispam}}

  </p>
    {% endif %}

    {% if object.profile.website_url %}
  <p>
    <img src="{% static "icones/32x32/emblems/emblem-web.png" %}" alt="Contact mail:" />
    <a href="{{object.profile.website_url}}">
        {% firstof object.profile.website_text object.profile.website_url %}
    </a>
  </p>
    {% endif %}
    {% if object.profile.newsletter_url %}
  <p>
      <img src="{% static "icones/32x32/emblems/emblem-mail.png" %}" alt="" />
      <a href="{{object.profile.newsletter_url}}">{{object.profile.newsletter_text}}</a>
  </p>
    {% endif %}
  <div class="abo-links central">
    <a class="rss" title="Suivre les nouveautés par flux RSS" href="#">
    <img src="{% static "icones/128x128/emblems/RSS.png" %}"
         alt="Suivre l'auteure par mail" />
  </a>
  /
  <a class="email" title="Recevoir les nouveautés par email" href="#">
    <img src="{% static "icones/32x32/emblems/emblem-mail.png" %}"
         alt="Suivre l'auteure par mail" />
    <span class="a-style">Suivre les nouveautés</span>
  </a>
  {% abo_forms pre_checked="paperbacks+events+texts"%}
  </div>
</div>



<div id="sonoeuvre">
  <h3></h3>
{% with ouvrages=object.ouvrages_papier_auteur %}
	<p>
      {{object|affiche_nom}} a publié {{ouvrages|length}}
      ouvrage{{ouvrages|pluralize}} papier :
    </p>

	{% for ouvrage in ouvrages %}
	<p class="oeuvre">
	<a href="{{ouvrage.get_absolute_url}}" class="imgonly">
	<img class="mini"
		 src="{{ ouvrage.mini_illustration|thumbnail:"150x150"}}"/>
	</a>
	<br />

	<span>
	  <a href="{{ouvrage.get_absolute_url}}">{{ ouvrage.titre }}</a>
	</span>
	</p>
    {% endfor %}
{% endwith %}
{% with co_ouvrages=object.ouvrages_papier_co_auteur %}
	<p style="clear:both">
      … et a été publiée dans {{co_ouvrages|length}} autre{{co_ouvrages|pluralize}} ouvrage{{co_ouvrages|pluralize}} :
    </p>

	{% for ouvrage in co_ouvrages %}
	<p class="oeuvre">
	<a href="{{ouvrage.get_absolute_url}}" class="imgonly">
	<img class="mini"
		 src="{{ ouvrage.mini_illustration|thumbnail:"150x150"}}" /><br />
	</a>

	<span>
	  <a href="{{ouvrage.get_absolute_url}}">{{ ouvrage.titre }}</a>
	</span>
	</a>
	</p>
    {% endfor %}
{% endwith %}


    <p class="clearfix"></p>

    <p id="alltexts">
      {{object|affiche_nom}} a écrit {{object.profile.ses_textes|length}}
      textes sur {% nom_site %}  :
    </p>

    {% regroup object.profile.ses_textes|dictsortreversed:"pub_date" by pub_date.year as texte_annees %}
    {% for annee in texte_annees %}

	<h4>{{annee.grouper}}</h4>
    <table class="textlist">
      {% for texte in annee.list %}
        <tr class="{% cycle ligne1 ligne2 %}">
	    <td>
	        <a href="/textes/{{texte.slug}}">{{texte.titre}}</a>
	    </td>
	    <td>{{texte.genre}}</td>
	</tr>
    {% endfor %}
    </table>
    {% endfor %}
</div>
{% endblock %}
