{% extends "base.html" %}
{% load lvtags %}

{% block contenu %}
<h2>Tous les auteurs d'{% nom_site %}</h2>
{% if object_list %}
    {% for auteur in object_list %}
            <div class="minifiche">
	      <h3>{{auteur|affiche_nom}}</h3>
      <img class="portrait" src='{{auteur.profile.photo|thumbnail:"164x164"}}' />
	      <ul>
		<li>
		  <a href="/auteur/{{auteur.username}}#savie">
		    En savoir plus...
		  </a>
		</li>
		<li>
		  {% if auteur.texte_set.published %}
		   <a href="/auteur/{{auteur.username}}#alltexts">
		    {{auteur.profile.ses_textes|length}} textes
		  </a>
                  {% else %}
		  Ce auteur n'a pas encore publié de texte
                  {% endif %}
		</li>
	      </ul>
	    </div>
    {% endfor %}
{% else %}
    <p>Aucun auteur pour l'instant.</p>
{% endif %}
{% endblock %}
