{% extends "base.html" %}
{% load lvtags %}
{% load tagging_tags %}


{% block titre %}
<h2> Textes pour le tag « {{ object.name|capfirst}} »</h2>
{% endblock %}

{% block contenu %}

{% tagged_objects object in texte.Texte as texte_list %}
<ul>
{% for texte in texte_list %}
{% if texte.est_compile and texte.est_publie %}
    <li>
      <a href="{{texte.get_absolute_url}}">
	{{texte.titre}}
      </a>
    </li>
{% endif %}
{% endfor%}
</ul>

<h3>Autres tags</h3>

{% nuage_tags_texte %}


{% endblock %}

