{% load lvtags %}

{% tags_cloud_for_queryset texte.Texte.objects.published as tag_list step 5 %}

<p class="taglist">
{% if limit_to %}

{% for i in tag_list|samples:limit_to %}
  <a href="/tag/{{i}}" style="font-size:{{i.font_size|fois:taille}}em">
    {{i}}
  </a>
{% endfor %}

{% else %}

{% for i in tag_list %}
  <a href="/tag/{{i}}" style="font-size:{{i.font_size|fois:taille}}em">
    {{i}}
  </a>
{% endfor %}

{% endif %}

</p>
